.top {
  z-index: 3;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5em 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: none;
  }

  .logo {
    /* width: 15vw; */
    padding: 0.25em;
    background-color: rgba(129, 108, 91, 0);
    border: solid 0.1em rgba(41, 41, 41, 0);
    /* height: 15vw; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1em;

    img {
      /* width: 15vw; */
      height: 3.5vw;
    }

    .icon-name {
      font-size: 1.2em;
      /* font-weight: bold; */
      color: #eb9f83;
    }
  }

  .desktop-nav {
    border: solid 0.2em rgba(41, 41, 41, 0);
    background-color: rgba(129, 108, 91, 0);
    display: flex;
    align-items: center;
    border-radius: 0.75em;
    padding: 0.5em;

    transition: 1s;
    overflow: hidden;
    a {
      text-align: center;
      margin: 0 1em;
      color: #eb9f83;
      transition: $transition-time;
      &:hover {
        font-size: 1.5em;
      }
    }
  }
  .display-parent-responsive {
    display: none;
    .open-nav {
      cursor: pointer;
      z-index: 4;
      position: relative;
      display: none;
      $square: 50px;
      width: $square;
      height: $square;
      border-radius: 50%;
      background-color: $blue-background;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .hamburg {
        /* position: absolute; */
        height: 10%;
        width: 60%;
        background-color: $bright-text-color;
        border-radius: 10px;
        transform-origin: top right;
        transform-origin: 50% 50%;
        transition: $transition-time;
      }

      $ham-space: 35%;
      #ham1 {
        transform: translateY(-$ham-space);
      }
      /* #ham2 {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    } */
      #ham3 {
        transform: translateY($ham-space);
      }
    }
  }

  //820
  @media (max-width: $nav-mobile-box-breakpoint) {
    .desktop-nav {
      display: none;
    }

    .display-parent-responsive {
      display: block;
    }
  }
}
