.message {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;

  .main-message {
    font-size: 3.5em;
  }

  .sub-message {
    margin: 1em 0;
  }
}
